header#myCarousel.carousel.slide
  // Indicators
  ol.carousel-indicators
    li.active(data-target='#myCarousel', data-slide-to='0')
    li(data-target='#myCarousel', data-slide-to='1')
    li(data-target='#myCarousel', data-slide-to='2')
  // Wrapper for slides
  .carousel-inner
    .item.active
      .fill(style="background-image:url('http://placehold.it/1900x1080&text=Slide One');")
      .carousel-caption
        h2 Caption 1
    .item
      .fill(style="background-image:url('http://placehold.it/1900x1080&text=Slide Two');")
      .carousel-caption
        h2 Caption 2
    .item
      .fill(style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');")
      .carousel-caption
        h2 Caption 3
